/* ===============
General CSS
=============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
    transition: all 300ms;
}

:root {
    --color1: #6245D5;
    --color2: #201353;
    --color3: #FC9770;
    --black-color: #000000;
    --transparent-color: rgba(0, 0, 0, 0);
    --color4: #848FAC;
    --color5: #FFFFFF;
    --color6: rgba(255, 255, 255, 0.64);
    --color7: #192252;
}

a {
    text-decoration: none;
    line-height: 1.2em;
}

a:hover {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1;
}

p {
    font-size: 18px;
    font-weight: 500;
}

.container {
    width: 1240px;
    margin: 0 auto;
}

h1.heading {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.1em;
}

h2.heading {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.2;
}

.bg-color1 {
    background-color: var(--color1);
}

.bg-color2 {
    background-color: var(--color2);
}

.bg-color3 {
    background-color: var(--color3);
}

.text-color4 {
    color: var(--color4);
}

.text-color5 {
    color: var(--color5);
}

.text-color6 {
    color: var(--color6);
}

.text-color7 {
    color: var(--color7);
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: 700;
}



/* utility */
.m-auto {
    margin: 0 auto;
}

.h-100 {
    height: 100vh;
}

.m-h-100 {
    min-height: 100vh;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

/* Flex Classes */

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.row-reverse {
    flex-direction: row-reverse;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.col-1 {
    flex-grow: 1;
}

.col-2 {
    flex-grow: 2;
}

.col-3 {
    flex-grow: 3;
}

.col-4 {
    flex-grow: 4;
}

.col-5 {
    flex-grow: 5;
}

.col-6 {
    flex-grow: 6;
}

.col-7 {
    flex-grow: 7;
}

.col-8 {
    flex-grow: 8;
}

.col-9 {
    flex-grow: 9;
}

.col-10 {
    flex-grow: 10;
}

.col-11 {
    flex-grow: 11;
}

.col-12 {
    flex-grow: 12;
}

/* ============
NavBar Start
============ */
#navbar {
    padding: 23px 0;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(2px);
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

#navbar .logo img {
    max-width: 134px;
}

#navbar .menu ul {
    gap: 80px;
}

#navbar .menu a {
    color: #606D93;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

/* #navbar .menu li.active a{
    color: var(--color7);
} */
#navbar .menu li a:hover {
    color: var(--color7);
}

#navbar .nav-btn a {
    display: inline-block;
    padding: 16px 40px;
    border-radius: 8px;
    background: var(--color1);
    color: var(--color5);
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    border: 1px solid var(--color1);
}

#navbar .nav-btn a:hover {
    background-color: var(--transparent-color);
    color: var(--color1);
}

/* ============
NavBar End
============ */
/* ============
Banner Start
============ */
#banner {
    padding: 215px 0 660px;
    background-image: url('../images/shape1.webp'), url('../images/shape2.webp');
    background-position-x: right, right;
    background-position-y: top, 10%;
    background-repeat: no-repeat, no-repeat;
    position: relative;
}

#banner .container {
    position: relative;
    z-index: 1;
}

#banner .content {
    width: 503px;
    padding-top: 9px;
}

#banner .content p {
    width: 332px;
    color: var(--color4);
    line-height: 1.5em;
    margin: 40px 0;
}

#banner .content .btn-box {
    gap: 24px;
}

#banner .content .btn1 {
    display: inline-block;
    padding: 20px 40px;
    border-radius: 8px;
    background: var(--color1);
    color: var(--color5);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33em;
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

#banner .content .btn1:hover {
    background: var(--color5);
    color: var(--color7);
}

#banner .content .btn2 {
    display: inline-block;
    padding: 20px 40px;
    border-radius: 8px;
    background: var(--color5);
    color: var(--color7);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33em;
    letter-spacing: 0.2px;
}

#banner .content .btn2:hover {
    background: var(--color1);
    color: var(--color5);
}

#banner .image {
    width: 643px;
}

#banner .image img {
    margin-right: -40px;
}

#banner .container:last-child {
    position: relative;
    /* margin-top: 200px; */
}

#banner .banner_bigimg {
    border-radius: 24px;
    background: #D9D9D9;
    width: 100%;
    height: 882px;
    position: absolute;
    bottom: 0;
    transform: translateY(calc(100% + 200px));
}

/* #banner .shape3{
    position: relative;
} */
#banner>img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    transform: translateY(20%);
}

/* ============
Banner End
============ */
/* ============
Counter Start
============ */
#counter {
    padding: 522px 0 64px;
}

#counter .container {
    padding: 48px;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.08);
}

#counter .container .item {
    gap: 16px;
    justify-content: center;
    position: relative;
}

#counter .container .item:not(:last-child)::after {
    position: absolute;
    content: '';
    right: -65px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.20);
}

#counter .container .item:first-child {
    justify-content: start;
}

#counter .container .item:last-child {
    justify-content: end;
}

#counter .container .item .number {
    color: var(--color5);
    font-size: 48px;
    font-weight: 700;
}

#counter .container .item .title {
    color: var(--color6);
    font-size: 20px;
    font-weight: 500;
}

/* ============
Counter End
============ */

/* =================feature start here============= */
#feature {
    padding: 100px 0;
    background-color: #201353;
    position: relative;
}

.feature_heading {
    display: flex;
    justify-content: space-between;
}

.feature_heading h2 {
    width: 514px;
    color: #FFF;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.feature_heading p {
    width: 555px;
    color: rgba(255, 255, 255, 0.64);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 18px;
}

.feature_main {
    margin-top: 48px;
}

.feature_wrapper {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.feature_image {
    position: absolute;
    bottom: -4px;
    right: 12px;
}

.transaction {
    width: 368px;
    background-color: #FFF;
    border-radius: 16px;
    padding: 24px;
}

.transaction_heading {
    display: flex;
    gap: 12px;
    align-items: center;
}

.transaction_heading h4 {
    color: #192252;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.transaction p {
    color: #848FAC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 16px;
}

.progress {
    margin-top: 24px;
    height: 4px;
    background-color: #EFF3FA;
    position: relative;
    overflow: hidden;
}

.progress::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background-color: #6345D5;
    border-radius: 2px;
}

.history {
    width: 368px;
    border-radius: 16px;
    border: 1.5px solid #2C1A74;
    background-color: #201353;
    padding: 24px;
}

.history_heading {
    display: flex;
    align-items: center;
    gap: 12px;
}

.history_heading {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.skeliton1 {
    width: 307px;
    height: 16px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.30);
    margin-top: 20px;
}

.skeliton2 {
    width: 287px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0.30);
    margin-top: 10px;
    border-radius: 4px;
}

.skeliton3 {
    width: 320px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 4px;
    margin-top: 26px;
}

/* =================feature end here=============== */


/* ----Video Section---- */
#video {
    margin-top: 100px;
    margin-bottom: 100px;
}

#video .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#video .video-box {
    background: #D9D9D9;
    width: 600px;
    height: 600px;
    border-radius: 20px;
    position: relative;
}

.video-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.video-details {
    max-width: 514px;
}

.video-details .title {
    font-size: 52px;
    font-weight: 700;
    color: #192252;
    margin-bottom: 24px;
}

.video-details .description {
    max-width: 421px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #848FAC;
    margin-bottom: 40px;
}

#video .list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#video .list li {
    display: flex;
    align-items: center;
    gap: 29px;
}

#video .list span {
    font-size: 20px;
    font-weight: 600;
    color: #192252;
}

/* ----Company Section---- */
#company {
    margin-bottom: 194px;
}

#company .title {
    text-align: center;
    color: #848FAC;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

#company .company-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 32px;
}